.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.generate-button {
  font-size: 22px;
  width: 250px;
  margin-top: 30px;
  cursor: pointer;
}

textarea {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  height: 700px;
}