body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iz-input {
  border: 1px solid #BBB;
  padding: 10px;
  width: 40%;
  height: 200px;
  float: left;
}

.left {
  width: 68%;
  float: left;
}

.right {
  width: 28%;
  float: left;
}